<!doctype html>
<html>
<head>
    <title>Profile</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body{
    margin-top:20px;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
    </style>
</head>
<body>
    <div class="container">
        <div class="page-header text-center">
            <h1><span class="fa fa-anchor"></span> Profile Page</h1>

          <form action="/user/logout" method="get">
              <button type="submit" class=" ">Logout</button>
              
          </form>
          <a href="/" class="btn  btn-default btn-md">Go to home</a> 
        </div>
        <div class="main-body">
        
              <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                  <div class="card">
                    <div class="card-body">
                      <div class="d-flex flex-column align-items-center text-center">
                        <img src="../uploads/<%=Responces[2]%>" alt="Admin" class="rounded-circle" width="150">
                        <div class="mt-3">
                          <h4><%= Responces[1].username %></h4>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                </div>
                <div class="col-md-8">
                  <div class="card mb-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Bank Name</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= Responces[1].bankname %>
                        </div>
                      </div>
                  <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Account Number</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= Responces[1].accountnumber %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">IFSC Code</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= Responces[1].ifsc %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">CTC</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            ₹<%= Responces[1].ctc %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">LECS</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                          <%= Responces[1].lecs %>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-sm-3">
                          <h6 class="mb-0">Maximum Loan Amount</h6>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            ₹<%= Responces[1].maxLoanAmount %>
                        </div>
                      </div>
                      
                    </div>
                  </div>
    
    
    
                </div>
              </div>
    
            </div>

          <form action="/user/uploadProfilePhoto" enctype="multipart/form-data" method="POST">

              <div class="form-group">
                  <label>Upload/Update profile photo</label>
                  <input type="file" class="form-control" name="profilePhoto" placeholder="Upload your profile photo" required>
              </div>
              <button type="submit" class="btn btn-sm">upload</button>
          </form>

          
          <form action="/user/uploadAadhar"enctype="multipart/form-data"  method="POST">
              
            <div class="form-group">
                <label>Upload Aadhar Card photo</label>
                <input type="file" class="form-control" name="Aadhar" required>
            </div>
            <button type="submit" class="btn btn-sm">upload</button>
        </form>

        <form action="/user/uploadPan" enctype="multipart/form-data" method="POST">
              
          <div class="form-group">
              <label>Upload Pan Card photo</label>
              <input type="file" class="form-control" name="panCard" required>
          </div>
          <button type="submit" class="btn btn-sm">upload</button>
      </form>

            <h2 clas="align-items-center"> Accepted Loan Requests</h2>
            <div class="row">
              <% for(var i=0;i<Responces[0].length;i++) { %>

                <div class="col-sm-6">
                  <div class="well">
                    <h4><span class="fa fa-user"></span> Loan Details</h4>
                    <p>
                      <strong>Loan Amount</strong>: <%=Responces[0][i].loanAmount %><br>
                      <strong>Tenure</strong>: <%=Responces[0][i].tenure %><br>
                      <strong>Interest Rate</strong>: <%=Responces[0][i].interestRate %><br>
                    </p>
                  <div class="well">
                    <h4><span class="fa fa-user"></span> User who accept your loan request</h4>
                    <p>
                      <% /* %>
                      <strong>Username</strong>: <%=Responces[0][i].userWhoAccept.username %><br>
                      <strong>Lecs</strong>: <%=Responces[0][i].userWhoAccept.lecs %><br>
                      <strong>Max Loan Amount</strong>: <%=Responces[0][i].userWhoAccept.maxLoanAmount %><br>
                      <% */ %>
                    </p>
                  </div>
                 </div>
                </div>
                
                <% } %>                
            </div>


            <h2 clas="align-items-center"> Modified Loan Requests</h2>
            <div class="row">
              <% for(var i=0;i<Responces[3].length;i++) { %>

                <div class="col-sm-6">
                  <div class="well">
                    <h4><span class="fa fa-user"></span> Loan Details</h4>
                    <p>
                      <strong>Loan Amount</strong>: <%=Responces[3][i].modifyLoanAmount %><br>
                      <strong>Tenure</strong>: <%=Responces[3][i].modifyTenure %><br>
                      <strong>Interest Rate</strong>: <%=Responces[3][i].modifyInterestRate %><br>
                    </p>
                  <div class="well">
                    <h4><span class="fa fa-user"></span> User who send modified loan request</h4>
                    <p>
                      <% /* %>
                      <strong>Username</strong>: <%=Responces[3][i].modifier.username %><br>
                      <strong>Lecs</strong>: <%=Responces[3][i].modifier.lecs %><br>
                      <strong>Max Loan Amount</strong>: <%=Responces[3][i].modifier.maxLoanAmount %><br>
                      <% */ %>
                    </p>
                  </div>
                  <form action="/loan/acceptModifiedLoan/<%=Responces[3][i]._id %>" method="post">
                    <button type="submit" class=" ">Accept</button>
                    
                </form>
                 </div>
                </div>
                
                <% } %>                
            </div>
            <% /* %>
            <h2 clas="align-items-center"> Modified Accepted Loans</h2>
            <div class="row">
        
                <!-- LOCAL INFORMATION -->
                <div class="col-sm-6">
                    <div class="well">
                        <h4><span class="fa fa-user"></span> User Details</h4>
                            <p>
                                <strong>id</strong>: sfds54fdsfdsf5s4f56fsd<br>
                                <strong>email</strong>: suraj1503kain@gmail.com<br>
                                <strong>password</strong>: 12345
                            </p>
                            <div class="well">
                                <h4><span class="fa fa-user"></span> User Details</h4>
                                    <p>
                                        <strong>id</strong>: sfds54fdsfdsf5s4f56fsd<br>
                                        <strong>email</strong>: suraj1503kain@gmail.com<br>
                                        <strong>password</strong>: 12345
                                    </p>
                            </div>
                            <form action="/loan/acceptLoan/" method="post">
                                <button type="submit" class=" ">Accept</button>
                                
                            </form>
                            <br/>
                            <form action="/loan/modifyLoan/" method="get">
                                <button type="submit" class=" ">Modify</button>
                    </div>
                </div>
        
            </div>
            <% */ %>
        </div>
</div>
</body>
</html>